<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>343925088672-a89hhn52u5f2r38vnjl96iqijudjtfk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343925088672-a89hhn52u5f2r38vnjl96iqijudjtfk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDs5B5hWS40Y_gwF9Rd2ENg3T0iHp7oCRE</string>
	<key>GCM_SENDER_ID</key>
	<string>343925088672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dsg.db</string>
	<key>PROJECT_ID</key>
	<string>dbapp-fcf62</string>
	<key>STORAGE_BUCKET</key>
	<string>dbapp-fcf62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343925088672:ios:6f6dd3f64ac77084b504c5</string>
</dict>
</plist>